---
CompileFlags:
  CompilationDatabase: .
  Remove:
    - -fno-shrink-wrap
    - -fno-tree-switch-conversion
    - -fstrict-volatile-bitfields
    - -nostartfiles
    - -fno-jump-tables
    - -MMD
Diagnostics:
  Suppress: [unused-parameter, sign-compare, deprecated-declarations]
Index:
  Background: Build
